body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(-135deg, rgb(0, 5, 54) 25%, rgb(1, 28, 148) 100%);
  overflow: hidden;
  /* Prevent scrolling */
}

#navbar {
  background-image: linear-gradient(-135deg, rgba(8, 0, 15, 0.15) 25%, rgba(40, 40, 58, 0.15) 100%);
  color: white;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* #navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Adds a shadow to differentiate it when scrolling */
/* } */ 

#navbar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
  padding-bottom: 10px;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li:hover {
  border-bottom: 2px solid white; /* Add border on hover */
  color: #101d66; /* Change text color on hover */
}


#main-content {
  margin-top: 300px;
  text-align: center;
  color: white;
}

/* Social Links Start */
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 15px;
}

.btn-social {
  background-color: #7289da;
  color: white;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-github {
  background-color: rgb(129, 86, 207);
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  border: 1px solid;
  border-color: rgb(190, 156, 252);
  box-shadow: rgb(167, 122, 250) 0px 0px 10px;
}

.btn-linkedin {
  background-color: rgb(254, 159, 68);
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid;
  transition: background-color 0.3s ease;
  border-color: rgb(248, 209, 173);
  box-shadow: rgb(250, 180, 115) 0px 0px 10px;
}

.btn-steam {
  background-color: rgb(28, 187, 155);
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid;
  transition: background-color 0.3s ease;
  border-color: rgb(120, 250, 224);
  box-shadow: rgb(79, 243, 210) 0px 0px 10px;
}

.btn-vscode {
  background-color: rgb(23, 188, 243);
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid;
  transition: background-color 0.3s ease;
  border-color: rgb(160, 205, 248);
  box-shadow: rgb(139, 159, 250) 0px 0px 10px;
  pointer-events: none;
}

.btn-vscode i {
  margin-right: 5px;
}

.btn-github:hover,
.btn-linkedin:hover,
.btn-steam:hover {
  text-decoration: none;
  color:rgb(25, 31, 55);
}

.btn-social:hover {
  background-color: #4e66a3;
}
/* Social Links End */

#main-text {
  padding-top: 50px;
}

#main-content2 {
  padding-top: 30px;
  /* Adjust to fit the navbar height and move waves down */
  text-align: left;
  padding: 50px;
  color: white;
  background-color: rgb(18, 21, 38);
  height: 100vh;
  position: relative;
  /* Ensure positioning context */
  z-index: 101;
  /* Ensure main-content2 is above the waves */
  width: 100vw;
}

#waves-container {
  position: relative;
  margin-top: 0px;
}

#waves-container2 {
  position: relative;
  height: 500px;
  margin-top: -180px;
}

#main-text2 {
  margin-left: 300px;
  margin-right: 300px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  /* Prevent canvas from blocking mouse events */
}

/* Added styles */
#main-content2 h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#about-page body {
  overflow: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#main-text h1,
#main-text p,
#additional-content p {
  animation: fadeIn 1s ease forwards;
}


.download-text {
  color: #fff;
}

.btn-1 {
  padding: 8px 15px;
  background-color: #132c9e;
  /* Purple background color */
  color: #fff;
  /* White text color */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  /* Smooth transition */
}

.btn-1:hover {
  background-color: #101d66;
  /* Darker purple on hover */
  color: white;
}

.download-button-container {
  text-align: right;
  /* Align the button to the right */
  margin-top: 10px;
  /* Add margin to the top */
}

.heading-container {
  position: relative;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 102;
  /* Ensure the heading is above the waves */
}

/* Intense Pulsing Glow Effect */
@keyframes pulse-glow {
  0% {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
    /* No glow */
  }

  50% {
    text-shadow: 0 0 11px rgb(209, 203, 250), 0 0 60px rgba(185, 176, 241, 0.7);
    /* More intense glow */
  }

  100% {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
    /* No glow */
  }
}

.heading-text {
  color: white;
  font-size: 40px;
  animation: pulse-glow 3s infinite;
}
/* Add CSS for hamburger icon and collapsible navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-toggle {
  cursor: pointer;
  display: none;
  /* Hide by default */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {

  /* Adjust styles for smaller screens */
  #main-content {
    margin-top: 200px;
    /* Adjusted margin-top for smaller screens */
  }

  #main-text h1 {
    font-size: 28px;
    /* Decrease font size for smaller screens */
  }

  /* Further adjustments for even smaller screens */
  #main-content {
    margin-top: 150px;
    /* Adjusted margin-top for even smaller screens */
  }

  #main-text h1 {
    font-size: 24px;
    /* Decrease font size for even smaller screens */
  }

  /* Styles for hamburger icon and collapsible navbar */
  .navbar-menu {
    display: none;
    /* Hide menu by default on small screens */
    flex-direction: column;
    background-color: #222;
    /* Background color for collapsed menu */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
    /* Display hamburger icon on small screens */
  }
}