/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* General Body & HTML Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body,
html {
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Theme Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Default Theme */
.default-theme body,
.default-theme html {
  background: linear-gradient(-135deg, rgb(9, 0, 135) 25%, rgb(147, 64, 255) 100%);
  color: white;
}

.default-theme #infinitusImage {
  content: url('imgs/infinitus.png');
}

.default-theme .gd-heading {
  color: rgb(105, 109, 226);
}

/* Second Theme */
.second-theme body,
.second-theme html {
  background: linear-gradient(-135deg, rgb(9, 0, 135) 25%, rgb(147, 64, 255) 100%);
  color: #000000;
}

.second-theme .gd-heading {
  color: rgb(105, 109, 226);
}

.second-theme .content-heading {
  color: black;
}

.second-theme .metadata-item {
  background-color: rgb(241, 241, 241);
  border: 0px;
}

.second-theme #main-content2 {
  background-color: rgb(255, 255, 255);
}

.second-theme .about-card,
.second-theme .blog-card,
.second-theme .project-card,
.second-theme .fe-card,
.second-theme .gd-card,
.second-theme .md-card,
.second-theme .be-card,
.second-theme .contact-card {
  background-color: rgb(255, 255, 255);
  color: black;
}

.second-theme .form-group {
  color: black;
}

.second-theme .footer-bottom {
  color: white;
}

.second-theme .btn-shared {
  border: 2px solid rgb(255 255 255 / 20%);
  transition: color 0s;
}

.second-theme .btn-shared:hover {
  background-color: #161616c9;
  border: 2px solid rgb(255 255 255 / 20%);
}

.second-theme #infinitusImage {
  content: url('imgs/infinitus-bw.png');
}

.second-theme .toggle-btn,
.second-theme .collapse-btn {
  color: rgb(65, 108, 226);
  transition: color 0s;
}

.second-theme #uni:visited:hover {
  color: rgb(46, 168, 238);
}

.second-theme .toggle-btn:hover,
.second-theme .collapse-btn:hover {
  color: #000000c9;
}

.second-theme .lightbox .close {
  top: 60px;
  right: 20px;
}

/* Third Theme */
.third-theme body,
.third-theme html {
  background-image: linear-gradient(-135deg, rgb(56, 239, 125) 0%, rgb(28, 187, 118) 50%, rgb(11, 153, 90) 100%);
  color: #fff;
}

.third-theme #navbar {
  background-image: linear-gradient(-135deg, rgba(56, 239, 125, 0.2) 25%, rgba(11, 153, 90, 0.2) 100%);
}

.third-theme .btn-social {
  background-color: #0b9960;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Navbar Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#navbar {
  background: linear-gradient(-135deg, rgba(0, 42, 135, 0.8) 25%, rgba(120, 46, 218, 0.8) 100%);
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  animation-name: fadeInUp;
  animation-duration: .5s;
  animation-iteration-count: 1;
  backdrop-filter: blur(16px) saturate(150%);
  border-bottom: 1px solid rgb(255 255 255 / 18%);
}

.navbar-toggler {
  display: none;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.nav-right {
  display: flex;
  align-items: center;
}





.menu-overlay {
  position: fixed;
  top: 69px; 
  left: 0;
  width: 100%;
  height: 0; 
  background-color: rgba(17, 21, 37, 0.9);
  backdrop-filter: blur(8px);
  overflow: hidden;
  transition: height 0.5s ease; 
  z-index: 900;
}

.menu-heading-text {
  color: white;
  font-size: 16px;
  padding-top: 25px;
  padding-left: 20px;
  margin-bottom: 0;
}


.menu-overlay.open {
  height: 100vh; 
}

.menu-section {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
}

.menu-items {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin: 10px 20px;
}

.mobile-logo {
  opacity: 0%;
}

.menu-items li a {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  color: white;
  font-size: 1.17em;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(255 255 255 / 15%);
}

.menu-items li:nth-child(odd) a {
  background-color: rgba(255, 255, 255, 0.031);
}

.menu-items li:nth-child(even) a {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-items li a:hover {
  background-color: rgba(120, 46, 218, 0.2);
}

.menu-items li a i {
  margin-right: 10px;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
}

.menu-section-internal {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  padding: 5px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}


#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#navbar .container-fluid {
  display: flex;
  justify-content: center;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

#navbar li:hover {
  box-shadow: inset 0 -2px 0 0 white;
  color: #101d66;
}

#nav-links {
  display: none;
}

#drop-Menu {
  background-color: rgba(18, 21, 38, 0.26);
  border-radius: 18px;
  margin-left: -65px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(16px) saturate(150%);
}

.dropdown-item {
  display: flex;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.137);
  border-radius: 18px;
}

.dropdown-item i {
  margin-right: 10px;
  font-size: 16px;
}


.settings-card {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 250px;
  background-color: rgba(18, 21, 38, 0.9);
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-out;
  z-index: 110;
}

.settings-card.show {
  right: 0;
}

.dropdown-menu-custom {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 220px;
  top: 115%;
  right: -6px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  visibility: hidden;
  z-index: 1050;
}

.nav-item.dropdown.show .dropdown-menu-custom {
  transform: translateX(0);
  opacity: 1;
  
  visibility: visible;
}

.dropdown-item {
  display: flex;
  color: white;
  transition: background-color 0.3s ease;
}

.dropdown-item i {
  margin-right: 10px;
}


#toggleParticles:hover,
#toggleWaves:hover,
#drop-Item:hover {
  background-color: rgba(7, 205, 255, 0.832);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Button Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#uni {
  color: white;
  text-decoration: none;
}

#settings-button,
#navbar-toggler {
  border: 0;
}

#uni:visited:hover {
  color: #43d5e0;
  text-decoration: none;
}

#main-content {
  margin-top: 300px;
  text-align: center;
  color: white;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 15px;
}

.social-links-footer {
  justify-content: center;
  gap: 15px;
  padding-top: 15px;
}

.btn-social,
.btn-github,
.btn-linkedin,
.btn-steam,
.btn-vscode,
.btn-x,
.btn-chrome {
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 12px;
  border: 2px solid rgb(255 255 255 / 20%);
  transition: all 0.1s ease-in-out 0s;
}

.btn-github {
  background: linear-gradient(-135deg, rgb(83, 5, 155) 25%, rgba(118, 0, 253, 0.966) 100%);
  box-shadow: rgba(100, 0, 231, 0.4) 0 10px 32px 0;
}

.btn-linkedin,
.btn-chrome {
  background: linear-gradient(-135deg, rgb(201, 132, 5) 25%, rgba(253, 173, 0, 0.966) 100%);
  box-shadow: rgba(181, 124, 0, 0.5) 0 8px 24px 0;
}

.btn-steam {
  background: linear-gradient(-135deg, rgb(5, 83, 155) 25%, rgba(0, 173, 253, 0.966) 100%);
  box-shadow: rgba(0, 124, 181, 0.5) 0 8px 24px 0;
}

.btn-vscode {
  background: linear-gradient(-135deg, rgb(5, 113, 201) 25%, rgba(0, 89, 253, 0.966) 100%);
  box-shadow: rgba(0, 194, 243, 0.2) 0 8px 24px 0;
}

.non-clickable {
  pointer-events: none;
  cursor: default;
}


.btn-social {
  background-color: #7289da;
}

.btn-linkedin {
  background-color: rgb(254, 159, 68);
  border-color: rgb(248, 209, 173);
}

.btn-steam {
  background-color: rgb(28, 187, 155);
  border: 2px solid rgb(255 255 255 / 20%);
}

.btn-vscode {
  background-color: rgb(23, 188, 243);
  border-color: rgb(160, 205, 248);
}

.btn-x {
  background-color: rgb(254, 68, 68);
  border-color: lightcoral;
}

.btn-social:hover {
  background-color: #4e66a3;
}

.btn-shared {
  font-size: 16px;
  height: 100%;
  text-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
  padding: 10px 20px;
  background: linear-gradient(-135deg, rgb(73, 164, 255) 25%, rgb(0, 116, 231) 100%);
  box-shadow: rgba(0, 116, 231, 0.4) 0 10px 32px 0;
  color: white;
  text-decoration: none;
  border-radius: 46px;
  border: 2px solid rgb(255 255 255 / 20%);
  transition: all 0.1s ease-in-out 0s;
}

.btn-windows {
  font-size: 16px;
  height: 100%;
  text-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
  padding: 10px 20px;
  background: linear-gradient(-135deg, rgb(73, 164, 255) 25%, rgb(0, 116, 231) 100%);
  box-shadow: rgba(0, 116, 231, 0.4) 0 10px 32px 0;
  color: white;
  text-decoration: none;
  border-radius: 46px;
  border: 2px solid rgb(255 255 255 / 20%);
  transition: all 0.1s ease-in-out 0s;
}

.btn-shared:hover,
.btn-windows:hover,
.btn-github:hover,
.btn-linkedin:hover,
.btn-steam:hover,
.btn-vscode:hover,
.btn-x:hover {
  background: linear-gradient(-135deg, rgb(46, 204, 113) 25%, rgb(26, 188, 156) 100%);
  box-shadow: rgba(46, 204, 113, 0.4) 0 10px 32px 0;
  border: 2px solid rgb(255 255 255 / 20%);
  color: white;
  text-decoration: none;
}

.btn-1:hover {
  background-color: #101d66;
}

.download-button-container {
  text-align: right;
  margin-top: 10px;
}

.toggle-btn,
.collapse-btn {
  cursor: pointer;
  color: rgb(65, 108, 226);
  font-size: 16px;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.toggle-btn:hover,
.collapse-btn:hover {
  color: #4e66a3;
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Main Content Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#main-text {
  padding-top: 50px;
}

.gradient-bar {
  height: 1px;
  /* Adjust height as needed */
  background: linear-gradient(to right, rgb(53, 71, 233), rgba(0, 123, 255, 0));
}

.gradient-bar2 {
  height: 1px;
  background: linear-gradient(to right, rgb(53, 71, 233), rgba(0, 123, 255, 0));
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#main-content2 {
  padding: 30px;
  color: white;
  background-color: rgb(18, 21, 38);
  min-height: 100vh;
  position: relative;
  z-index: 101;
  width: 100vw;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

#about1 {
  margin-right: 140px;
  margin-bottom: 25px;
}


#infinitus {
  margin-right: 400px;
}

#waves-container2 {
  position: relative;
  height: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

.metadata-item {
  background-color: rgb(18, 23, 44);
  padding: 4px 12px;
  border-radius: 15px;
  border: 0.5px solid rgba(63, 62, 94, .7);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Project About Game Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.about-game-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
  will-change: max-height;
}

/* When active, max-height expands to make it visible */
.about-game-section.active {
  max-height: 2000px;
  /* Ensure this value is greater than the expected content height */
}

/* Additional styling to hide initial download when expanded */
.about-game-section.active+.download-toggle .initial-download {
  display: none;
}

.about-game-section .toggle-info-btn i.fa-arrow-up {
  display: inline;
}

/* Initial state with down arrow */
.toggle-info-btn .arrow {
  outline: none;
  border: none;
  display: inline-block;
  transition: transform 0.3s ease;
}

.toggle-info-btn:focus,
.toggle-info-btn:active {
  outline: none;
  border: none;
}

/* Rotate arrow icon 180 degrees when expanded */
.about-game-section.active~.card-footer .toggle-info-btn .arrow {
  transform: rotate(180deg);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Carousel Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Styling for Carousel */
.carousel-inner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  filter: invert(0.5);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Scroll Bar Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Canvas Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 11;
  opacity: 0.7;
}

#main-content2 h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-ForF,
.img-networking {
  height: 250px;
}

.img-research {
  height: 300px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Container and Column Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#professionalism-container {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 20px;
}

#commitment,
#integrity,
#responsibility,
#accountability {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #333;
  transition: transform 0.3s ease;
}

#commitment:hover,
#integrity:hover,
#responsibility:hover,
#accountability:hover {
  transform: scale(1.01);
}

#commitment p,
#integrity p,
#responsibility p,
#accountability p {
  font-size: 1rem;
  line-height: 1.6;
}

#integrity,
#accountability {
  background-color: #252525;
}

@media (max-width: 768px) {
  #professionalism-container {
    grid-template-columns: 1fr;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Animations */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#slide-up {
  animation: slideInUp .6s ease-out forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#main-text,
#sub-text,
#additional-text {
  animation: slideInLeft .6s ease-out forwards;
}

#main-text h1,
#main-text p,
#additional-content p {
  animation: fadeIn 1s ease forwards;
}

@keyframes pulse-glow {
  0% {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }

  50% {
    text-shadow: 0 0 11px rgb(209, 203, 250), 0 0 60px rgba(185, 176, 241, 0.7);
  }

  100% {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }
}

.pulse {
  animation: pulse-glow 2s infinite;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Text and Heading Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.post-date {
  padding-top: 10px;
  color: rgb(73, 164, 255);
  font-weight: 600;
}

.release-date {
  font-weight: 600;
  padding-left: 6px;
  margin-bottom: 0px;
  color: rgb(65, 108, 226);
}


.heading-container {
  z-index: 101 !important;
}

.heading-text {
  color: white;
  font-size: 46px;
  font-weight: bold;
  animation: pulse-glow 3s infinite;
  animation: slideUp 1s ease forwards;
}

.content-heading {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.heading-underline {
  width: 50px;
  height: 4px;
  background-color: #1b4b91;
  margin: 10px auto 0 auto;
  border-radius: 2px;
}

.colored-bar {
  width: 5px;
  height: 24px;
  background-color: #1e3debc9;
  margin-right: 10px;
  border-radius: 4px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Header and Image Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.logo {
  width: 45px;
  height: 26px;
}

#header img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* Avatar Image */
.avatar-img {
  position: absolute;
  top: -30px;
  right: 35px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /* border-left: 0.2rem solid #1e3debc9; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.communicate {
  width: auto;
  max-height: 80px;
}

.laptop-image {
  position: absolute;
  right: -120px;
  top: 50%;
  transform: translateY(-50%) rotate(10deg);
  height: auto;
  max-height: 300px;
  opacity: 0.8;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
  z-index: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* About Card Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(25, 31, 55);
  box-shadow: rgba(0, 0, 0, .1) 0 10px 32px 0;
  transition: all 0.1s ease-in-out 0s;
  /* border-left: 2px solid #1e3debc9; */
  position: relative;
}

#aboutTop {
  padding-right: 100px;
}

.project-card:hover,
.blog-card:hover,
.contact-card:hover {
  transform: translate(0px, -10px);
}

.fe-card,
.gd-card,
.md-card,
.be-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(25, 31, 55);
  box-shadow: rgba(0, 0, 0, .1) 0 10px 32px 0;
  transition: all 0, 1s ease-in-out 0s;
  /* border-left: 2px solid #1e3debc9; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Blog Card Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.blog-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(25, 31, 55);
  box-shadow: rgba(0, 0, 0, .1) 0 10px 32px 0;
  transition: all 0.1s ease-in-out 0s;
  /* border-left: 2px solid #1e3debc9; */
}

#fullBlogContent1,
#fullBlogContent2,
#fullBlogContent3,
#fullBlogContent4,
#fullBlogContent5 {
  margin-top: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Contact Card Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.contact-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(25, 31, 55);
  box-shadow: rgba(0, 0, 0, .1) 0 10px 32px 0;
  transition: all 0.1s ease-in-out 0s;
  /* border-left: 2px solid #1e3debc9; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Project Card Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.project-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(25, 31, 55);
  box-shadow: rgba(0, 0, 0, .1) 0 10px 32px 0;
  transition: all 0.1s ease-in-out 0s;
  /* border-left: 2px solid #1e3debc9; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Footer Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.footer {
  padding: 30px 0;
  color: #d4d4dc;
  font-size: 14px;
  border-top: 1px solid rgb(255 255 255 / 18%);
}

.footer h5 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.footer-description {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer-social-link {
  color: #d4d4dc;
  font-size: 20px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.footer-social-link:hover {
  color: #7289da;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #8e8e9e;
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer .text-md-right {
    text-align: center;
    margin-top: 20px;
  }

  .footer-social-link {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  #main-content {
    margin-top: 200px;
  }

  #main-text h1 {
    font-size: 28px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
  }
}